<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org" >
<head th:replace="layouts/primary-layout :: head('Détail jeu')" ></head>
<body>
	
	<div class="container">
		<header th:replace="layouts/primary-layout :: header" ></header>
		<main>
			<div class="row text-center mt-5">
				<h1>Détail</h1>												
			</div>
			<div class="row">
				<div class="col-8 offset-2" th:object="${game}">
					<p> <b>Titre:</b> <span th:text="*{titre}" ></span> </p>
					<p> <b>Editeur:</b> <span th:text="*{editeur}" ></span> </p>
					<p> <b>Description:</b> <span th:text="*{description}" ></span> </p>
					<p> <b>PEGI:</b> <span th:text="*{pegi}" ></span> </p>
					<p> <b>Mode:</b> <span th:text="*{mode}" ></span> </p>
					<p> <b>Catégorie:</b> <span th:text="*{category.nom}" ></span> </p>
					<p> <b>Platforme:</b> <span th:text="*{platform}" ></span> </p>
					<p> <b>Date de sortie:</b> <span th:text="*{dateSortie}" ></span> </p>
					<p> <b>La moyenne des notes:</b> <span th:text="${moyenne}" ></span> </p>
					
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-8 offset-2" >
					<h2>Ajouter un avis:</h2>
					<form id="avis-form" class="d-none" th:action="@{|/jeux/detail/${game.id}|}" method="post" th:object="${avis}">
						<div class="mb-3">
							<label class="form-label" for="note">Note</label>
							<select class="form-select" id="note" th:field="*{note}">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						
						<div class="mb-3">
							<label class="form-label" for="avis">Avis</label>
							<textarea class="form-control" id="aivs" th:field="*{contenu}">
							</textarea>
						</div>
						<div class="mb-3">
							<label class="form-label" for="auteur">Auteur</label>
							<input type="text" class="form-control" id="auteur" th:field="*{auteur}">							
						</div>
						
						<button class="btn btn-primary" type="submit">Ajouter un avis</button>
						
					</form>
					
				</div>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<button id="donner-avis" class="btn btn-success" rel="button" type="button" >Donner votre avis!</button>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-8 offset-2">
					<h2>Les avis</h2>
					<ul>
						<li th:each="avis: ${listeAvis}" th:object="${avis}" >
							<h6>Note: <span th:text="*{note}" ></span>/5</h6>
							<p>Avis: <span th:text="*{contenu}" ></span>  </p>
							<small>Auteur: <span th:text="*{auteur}" ></span> </small>
						</li>
					</ul>
				</div>
			</div>
			
		</main>
		<footer class="row bg-dark text-white mt-5">
			<p class="text-center py-5">
				Mini-JVC &copy; 2024
			</p>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>